@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Silkscreen:wght@400;700&family=Sixtyfour&family=Sixtyfour+Convergence&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: #11856B;
    --back-color: #075473;
    --font: 'Comfortaa';
    font-family: var(--font)
}

body {
    color: var(--color);
}

a:visited {
    color: var(--color);
}